body {
    
    background-color:azure;
}

hr {
    border-style:none;
    border-width:5px;
    border-top-style: dotted;
    width:30px;
    border-color:cadetblue;   
}

h1,h3 {
    
    color: #66BFBF;
    
}